<div class=" ps-5 pe-5">
    <h2 class="mb-5 fs-2">Clientes</h2>
    <div class="customers__menu">
        <ul>
            <li class="active" id="customers-menu__btn-overview">Overview</li>
            <li id="customers-menu__btn-customer-profile">Perfil do cliente</li>
            <li id="customers-menu__btn-add-customer">Novo cliente</li>
        </ul>
        <div class="customers__horizontal-bar"></div>
    </div>

    {% include 'customers/search-customers/search-customers.html' %}

</div>

{% include 'customers/add-customer/add-customer.html' %}
{% include 'customers/customer-profile/customer-profile.html' %}