<div class="px-5 d-none" id="customer-profile" data-anime="up">

    <span id="customer-profile__btn-return" class="btn-return">← voltar</span>

    <div class="customer-profile-header d-flex justify-content-between mb-3">
        <h2 class="fs-2"><span id="customer-name">Cliente</span></h2>
        <div>
            <button type="button" class="btn btn-primary" id="btn-edit-customer" data-bs-toggle="modal"
                data-bs-target="#modal-edit-customer">
                <i class="bi bi-pencil-square"></i> Editar cliente
            </button>
            <button type="button" class="btn btn-primary ms-2" id="btn-add-tattoo" data-bs-toggle="modal"
                data-bs-target="#modal-add-tattoo">
                <i class="bi bi-vector-pen"></i> Adicionar tattoo
            </button>
        </div>
    </div>

    <h3 class="text-center">Informações Pessoais</h3>
    <div class="row profile-info">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Telefone: </strong><span id="customer-phone"></span></li>
                <li class="list-group-item"><strong>E-mail: </strong><span id="customer-email"></span></li>
                <li class="list-group-item"><strong>Instagram: </strong><span id="customer-instagram"></span></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nascimento: </strong><span id="customer-birth"></span></li>
                <li class="list-group-item"><strong>Endereço: </strong><span id="customer-address"></span></li>
            </ul>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="btn-edit-customer"
        data-bs-target="#staticBackdrop">
        Editar Cliente
    </button> -->
    {% include 'sales/customer-profile/modal/edit-customer.html' %}

    {% include 'sales/customer-profile/modal/edit-tattoo.html' %}

    <h3 class="mt-5 text-center">Tatuagens</h3>
    <div class="search-result">
        <table class="table table-hover" id="customer-tattoo-table">
            <thead>
                <tr>
                    <th scope="col" max-width="10%" id="filter-table" class="cursor-pointer" data-filter="tattoo">Data</th>
                    <th scope="col">Tattoo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" max-width="10%">Valor</th>
                    <th scope="col" max-width="10%">Pagamento</th>
                    <th scope="col" max-width="10%">Editar</th>
                </tr>
            </thead>
            <tbody id="customer-tattoo-table-body">
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- <div id="imagePopup">
            <img id="popupImage" src="" alt="Imagem de Preview">
        </div> -->

        <button class="btn btn-primary d-none" id="btn-open-edit-tattoo" data-bs-toggle="modal"
            data-bs-target="#edit-tattoo">edit tattoo</button>
    </div>


</div>