<div class="card mt-5 p-5 w-100 shadow border-0 window" id="search-customer">
    <i class="bi bi-arrow-left-circle-fill icon-return" id="btn-return"></i>
    <h2 class="d-flex justify-content-center">Lista de clientes</h2>
    <div class="row pt-3">
        <div class="col-md-8 mx-auto">
            <label for="name" class="form-label">Filtrar por nome</label>
            <input type="text" class="form-control" id="search-customer-input" name="name"
                placeholder="Digite o nome..." required>
        </div>
    </div>

    <div class="mt-5 search-result">
    
        <table class="table table-hover" id="result-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Qtd Tattoos</th>
                    <th scope="col">V Máximo</th>
                    <th scope="col">V Médio</th>
                    <th scope="col">V Total</th>
                </tr>
            </thead>
            <tbody id="result-table-body">
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    
</div>